*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* styling header */
#header{
    border-bottom: 1px solid slategray;
}

.hcont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2% 0;
}
.menu{
    display: none;
}

.nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav li{
    text-transform: capitalize;
}

.nav span{
    background-color: blue;
    padding: 10px  20px;
    color: white;
    border-radius: 25px;
}

.logo p{
    text-transform: capitalize;
    font-size: 1.7rem;
    font-weight: 900;
}
/* styling header done */


/* styling  banner */
#banner{
    background-color: whitesmoke;
    padding: 5% 0;
}

.but .apple{
margin-left: 5%;
}

.but img{
    height: 50px;
}

#bancont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banintro{
    flex-basis: 50%;
}

.banintro h1{
    font-size: 5rem;
}

.banintro p{
    margin: 5% 0;
}

.ban img{
    height: 500px;
}
/* styling banner done */

/* testimonial */
#testi{
    background-image: linear-gradient(to right, blue, purple);
    padding: 5% 0;
}

#testicont{
    color: white;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 2rem;
}

#testicont p{
    font-size:3rem;
    margin-bottom: 3%;
}

#testicont img{
border-radius:100%;
}
/* styling testimonial  done */

/* styling testimonial 2 */
.testii{
    padding: 20px 0px;
    background-color: white;
}
#testi2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 10%;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    /* background-color: whitesmoke; */
    padding-top: 90px;
}

#mac{
    display: flex;
    width: 50%;
gap: 40px;
margin-bottom: 90px;
}

#mac span{
    font-size: 90px;
    color: blueviolet;
}
#testicont2 img{
      height: 500px;
}
#maccont{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mac2{
    margin-top: 40px;
}
#mac h2{
    margin-bottom: 10px;
}
/* stylingtestimomnial 2 done */

/* styling visual */
#textt3{
    background-color: whitesmoke;
    padding: 5% 0;
}
.textt{
   width: 70%;
   margin: 0 auto;
display: flex;
justify-content: space-between;
flex-basis: 50%;
}

.image2  img{
height: 500px;
border-radius: 100%;
margin-left: 15%;
}

.textt2 h2{
    font-size: 4rem;
    margin-bottom: 2.5rem;
    margin-top: 6rem;
}

.textt2 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
/* styling visual */

/* styling writting */
.image3{
    background-image: url('../img/writting.jpg');
    background-size:cover ;
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
}

.image3 h1{
    color: white;
}

#textt4 h1{
    font-size: 5rem;
    position: relative;
    padding-bottom: 3rem;
    padding-left: 7rem;
    padding-top: 7rem;
}

.down button{
    padding: 25px;
    font-size: 20px;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    cursor: pointer;
    background-color: inherit;
    margin: 7rem;
    margin-top:5px;
    
}
.down button:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}
/* styling writting done */

/* styling down part */

#down2{
    justify-content: center;
    text-align: center;
    height: 40vh;
    padding-top:100px;
    color:  white;
    background-image:    linear-gradient(to  right,blue,purple);
}

.but1 .apple1{
    margin-left: 10px;
    }
    
    .but1 img{
        height: 50px;

    }

 .but1 {
    padding: 50px;
    }
/* styling down part done */
#back{
    text-align: center;
    background-color: black;
    height: 5px;
    color: white;
    padding: 80px;
}
/* stylingdownpart2done */

@media (max-width:767px){
    .hcont.bx-menu{
        display: inline;
    }
    .nav{
        display: none;
    }

    .hcont .menu{
        border: 1px solid slategray;
        border-radius: 10px;
        display: block;
    }

    .menu{
        padding: 5px;
    }

    .hcont .nav{
        display: none;
    }

    .hcont{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 2% 0;
    }

    #bancont{
        width: 89%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .banintro h1{
        font-size: 2rem;
    }

    .banintro p{
        margin: 10%;

    }

    #bancont{
        text-align: center;
    }

    .banintro .but{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .but img{
        width: 50%;
        margin-bottom: 2%;
    }

    .apple{
        margin-left: 0%;
    }

    .ban img{
        height: 300px;
        margin-top: 10%;
    }

    #testicont p{
        font-size:2rem;
        margin-bottom: 3%;
    }
    #testicont{
        color: white;
        text-align: center;
        width: 80%;
        margin: 0 auto;
    }
    
    #testicont img{
    border-radius:100%;
    }
    #mac{
        display: flex;
        flex-direction: column;
    }
    #testi2{
        display: flex;
        flex-direction: column-reverse;
    }
   

    

    .textt{
        display: flex;
        flex-direction: column;
    }
    .image2  img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    }
    
    .textt2 h2{
        font-size: 2rem;
        margin-bottom: 2.5rem;
        margin-top:4rem;
        display: flex;
        flex-direction: column;
    }
    
    .textt2 p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
    }

   
#textt4 h1{
    font-size: 3rem;
    position: relative;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-top: 5rem;
}

.down button{
    padding: 20px;
    font-size: 15px;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    cursor: pointer;
    background-color: inherit;
    margin: 6rem;
    margin-top:4px;
    
}
.down button:hover{
    background-color: white;
    color: black;
    border: 1px solid white;
}

#down2{
   font-size: 20px;
    text-align: center;
    color:  white;
padding: 20px;
height:60vh;
    background-image:    linear-gradient(to  right,blue,purple);
}


}